# **Load and read data**

In [1]:
!wget https://competitions.codalab.org/my/datasets/download/2c6a99a5-b071-4f1d-a3b1-d49a923e0c68

--2018-11-25 14:19:12--  https://competitions.codalab.org/my/datasets/download/2c6a99a5-b071-4f1d-a3b1-d49a923e0c68
Resolving competitions.codalab.org (competitions.codalab.org)... 134.158.75.178
Connecting to competitions.codalab.org (competitions.codalab.org)|134.158.75.178|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: https://newcodalab.lri.fr/prod-private/dataset_data_file/None/ba53c/data.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=bb7cf8677790dde7f915249ac83bffc63bc344b6f822413ea4215bdf5a2e8a67&X-Amz-Date=20181125T141910Z&X-Amz-Credential=AZIAIOSAODNN7EX123LE%2F20181125%2Fnewcodalab%2Fs3%2Faws4_request [following]
--2018-11-25 14:19:12--  https://newcodalab.lri.fr/prod-private/dataset_data_file/None/ba53c/data.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=bb7cf8677790dde7f915249ac83bffc63bc344b6f822413ea4215bdf5a2e8a67&X-Amz-Date=20181125T141910Z&X-Amz-Credential=AZIAIOSAODNN7EX123LE%2F20181125%2Fnewcodalab%2Fs3%2Faws4_request
Resolving newcodalab.lri.fr (newcodalab.lri.fr)... 129.175.15.11
Connecting to newcodalab.lri.fr (newcodalab.lri.fr)|129.175.15.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 608893981 (581M) [application/zip]
Saving to: ‘2c6a99a5-b071-4f1d-a3b1-d49a923e0c68’

2c6a99a5-b071-4f1d- 100%[===================>] 580.69M  39.6MB/s    in 15s

2018-11-25 14:19:28 (37.9 MB/s) - ‘2c6a99a5-b071-4f1d-a3b1-d49a923e0c68’ saved [608893981/608893981]

In [0]:
!mv 2c6a99a5-b071-4f1d-a3b1-d49a923e0c68 data.zip

In [3]:
!pip install zipfile36

Collecting zipfile36
  Downloading https://files.pythonhosted.org/packages/fd/8a/3b7da0b0bd87d1ef05b74207827c72d348b56a0d6d83242582be18a81e02/zipfile36-0.1.3-py3-none-any.whl
Installing collected packages: zipfile36
Successfully installed zipfile36-0.1.3

In [0]:
!mkdir msaic
!mv data.zip msaic/

In [5]:
%cd msaic

/content/msaic

In [0]:
import zipfile
zipref = zipfile.ZipFile('data.zip', 'r')
zipref.extractall()
zipref.close()

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("data.tsv", sep= '\t',header=None)
df.columns = ['index','question', 'passage', 'label','seq']

In [52]:
df.head()

,index,question,passage,label,seq
0,0,. what is a corporation?,A company is incorporated in a specific nation...,0,0
1,0,. what is a corporation?,"Today, there is a growing community of more th...",0,1
2,0,. what is a corporation?,"Corporation definition, an association of indi...",0,2
3,0,. what is a corporation?,Examples of corporation in a Sentence. 1 He w...,0,3
4,0,. what is a corporation?,1: a government-owned corporation (as a utilit...,0,4

In [53]:
len(df)

5241880

In [54]:
df.iloc[:,2].str.len().max()

1397

In [55]:
df.iloc[:,2].str.len().min()

3

In [0]:
df2 = pd.read_csv("eval1_unlabelled.tsv", sep= '\t',header=None)

In [57]:
len(df2)

104170

In [58]:
df3 = df2.copy()
df3.columns = ['index', ' question', 'passage', 'seq']
df3['logit_score'] = ''
df3['infersent_score'] = ''
df3.head()

,index,question,passage,seq,logit_score,infersent_score
0,1135787,distance between erie in buffalo new york,Erie Canal Distance Tables The Erie Canal is t...,0,,
1,1135787,distance between erie in buffalo new york,What is the distance between Erie AND Buffalo?...,1,,
2,1135787,distance between erie in buffalo new york,The distance between Erie and Buffalo in a str...,2,,
3,1135787,distance between erie in buffalo new york,Erie Canal Distances. Erie Canal Distance Tabl...,3,,
4,1135787,distance between erie in buffalo new york,Erie's Metropolitan Area consists of approxima...,4,,

# **Install Pytorch and AllenNLP**

In [21]:
!pip install Pillow==4.2.0
!pip3 install http://download.pytorch.org/whl/cu92/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
!pip3 install allennlp
!pip install tqdm
!pip install spacy
!python -m spacy download en

'\n!pip install Pillow==4.2.0\n!pip3 install http://download.pytorch.org/whl/cu92/torch-0.4.1-cp36-cp36m-linux_x86_64.whl\n!pip3 install allennlp\n!pip install tqdm\n!pip install spacy\n!python -m spacy download en\n'

# **Download pre trained model and create a predictor class**

In [59]:
from allennlp.predictors.predictor import Predictor
predictor = Predictor.from_path("https://s3-us-west-2.amazonaws.com/allennlp/models/bidaf-model-2017.09.15-charpad.tar.gz")

/usr/local/lib/python3.6/dist-packages/torch/nn/modules/rnn.py:38: UserWarning: dropout option adds dropout after all but last recurrent layer, so non-zero dropout expects num_layers greater than 1, but got dropout=0.2 and num_layers=1
  "num_layers={}".format(dropout, num_layers))

In [0]:
emdict = {}
emdict['passage'] = "The Matrix is a 1999 science fiction action film written and directed by The Wachowskis, starring Keanu Reeves, Laurence Fishburne, Carrie-Anne Moss, Hugo Weaving, and Joe Pantoliano."
emdict['question'] = "Which wedding did I go to?"
out = predictor.predict(**emdict)
out

In [0]:
from tqdm import tqdm
import torch

In [0]:
from allennlp.common import JsonDict
from allennlp.service.predictors.predictor import Predictor
from allennlp.service.predictors.bidaf import BidafPredictor

def compute_score(blob):
    # Own hack to compute score based on span start and end neuron values. Idea is that if the confidence of the span is high, chances are it might be the correct answer
    bs = blob['best_span']
    val =  blob["span_end_logits"][bs[1]] + blob["span_start_logits"][bs[0]] 
    return np.exp(val/2)

class MyPredictor(BidafPredictor):
    def __init__(self, pred):
        self.pred = pred
      
    def predict_batch_json(self, inputs):
        # call the usual predictor and modify its result
        result = self.pred.predict_batch_json(inputs)
        out = [compute_score(blob) for blob in result]
        return out
mypredictor = MyPredictor(predictor)

In [64]:
ww2_qa = [
    {
      "passage": "The war in Europe concluded with an invasion of Germany by the Western Allies and the Soviet Union, culminating in the capture of Berlin by Soviet troops, the suicide of Adolf Hitler and the German unconditional surrender on 8 May 1945. Following the Potsdam Declaration by the Allies on 26 July 1945 and the refusal of Japan to surrender under its terms, the United States dropped atomic bombs on the Japanese cities of Hiroshima and Nagasaki on 6 and 9 August respectively. With an invasion of the Japanese archipelago imminent, the possibility of additional atomic bombings, and the Soviet invasion of Manchuria and occupation of the Kuril islands in northern Japan, the Empire finally surrendered on 2 September 1945, cementing total victory in Asia for the Allies.",
      "question": "When did Germany surrender?"
    },
    {
      "passage": "The war in Europe concluded with an invasion of Germany by the Western Allies and the Soviet Union, culminating in the capture of Berlin by Soviet troops, the suicide of Adolf Hitler and the German unconditional surrender on 8 May 1945. Following the Potsdam Declaration by the Allies on 26 July 1945 and the refusal of Japan to surrender under its terms, the United States dropped atomic bombs on the Japanese cities of Hiroshima and Nagasaki on 6 and 9 August respectively. With an invasion of the Japanese archipelago imminent, the possibility of additional atomic bombings, and the Soviet invasion of Manchuria and occupation of the Kuril islands in northern Japan, the Empire finally surrendered on 2 September 1945, cementing total victory in Asia for the Allies.",
      "question": "Who dropped atomic bombs in Japan?"
    },
    {
      "passage": "The war in Europe concluded with an invasion of Germany by the Western Allies and the Soviet Union, culminating in the capture of Berlin by Soviet troops, the suicide of Adolf Hitler and the German unconditional surrender on 8 May 1945. Following the Potsdam Declaration by the Allies on 26 July 1945 and the refusal of Japan to surrender under its terms, the United States dropped atomic bombs on the Japanese cities of Hiroshima and Nagasaki on 6 and 9 August respectively. With an invasion of the Japanese archipelago imminent, the possibility of additional atomic bombings, and the Soviet invasion of Manchuria and occupation of the Kuril islands in northern Japan, the Empire finally surrendered on 2 September 1945, cementing total victory in Asia for the Allies.",
      "question": "Why Japan surrendered?"
    }
]
outs = mypredictor.predict_batch_json(ww2_qa)
outs

[184.9553105143619, 72.75244587411528, 2.2807680340241028]

# **Download Infersent**

In [26]:
!git clone https://github.com/facebookresearch/InferSent.git
%cd InferSent/
!mkdir dataset/GloVe
!curl -Lo dataset/GloVe/glove.840B.300d.zip http://nlp.stanford.edu/data/glove.840B.300d.zip
!unzip dataset/GloVe/glove.840B.300d.zip -d dataset/GloVe/

Cloning into 'InferSent'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 219 (delta 4), reused 8 (delta 1), pack-reused 205
Receiving objects: 100% (219/219), 461.20 KiB | 1.27 MiB/s, done.
Resolving deltas: 100% (108/108), done.
/content/msaic/InferSent
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0   315    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 2075M  100 2075M    0     0  18.3M      0  0:01:53  0:01:53 --:--:-- 20.8M
Archive:  dataset/GloVe/glove.840B.300d.zip
  inflating: dataset/GloVe/glove.840B.300d.txt

In [27]:
!curl -Lo encoder/infersent1.pkl https://s3.amazonaws.com/senteval/infersent/infersent1.pkl

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  146M  100  146M    0     0  28.0M      0  0:00:05  0:00:05 --:--:-- 34.8M

In [28]:
from random import randint

import numpy as np
import torch

import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [0]:
from models import InferSent
V = 1
MODEL_PATH = 'encoder/infersent%s.pkl' % V
params_model = {'bsize': 64, 'word_emb_dim': 300, 'enc_lstm_dim': 2048,
                'pool_type': 'max', 'dpout_model': 0.0, 'version': V}
infersent = InferSent(params_model)
infersent.load_state_dict(torch.load(MODEL_PATH))

In [0]:
use_cuda = True
infersent = infersent.cuda() if use_cuda else infersent

In [31]:
# If infersent1 -> use GloVe embeddings. If infersent2 -> use InferSent embeddings.
W2V_PATH = 'dataset/GloVe/glove.840B.300d.txt'
infersent.set_w2v_path(W2V_PATH)

infersent.build_vocab_k_words(K=100000)

Vocab size : 100000

In [32]:
%cd ..

/content/msaic

# **Simialrity function**

In [47]:
from torch.nn.functional import cosine_similarity

a1 = infersent.encode(["I am great", " You are good"])
a2 = infersent.encode(["We am great", " You are bad"])

cosine_similarity(th.Tensor(a1),th.Tensor(a2))

tensor([0.9305, 0.7591])

# **Testing on TestSet**

Create a new dataframe with splitting sentences

In [65]:
rowlist = []
#import spacy
import nltk
nltk.download('punkt')
from nltk import sent_tokenize
#nlp = spacy.load('en_core_web_sm')
split_df = pd.DataFrame(columns = df3.columns)
for idx, row in tqdm(df3.iterrows(), total = len(df3), position = 0):
  doc = sent_tokenize(row['passage'])
  for item in doc:
    rowt = row.copy()
    rowt["passage"] = item
    rowlist.append(rowt)

  0%|          | 113/104170 [00:00<01:32, 1124.79it/s]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

100%|██████████| 104170/104170 [01:12<00:00, 1445.75it/s]

In [66]:
sent_split_df = pd.DataFrame(rowlist)
sent_split_df = sent_split_df.reset_index(drop=True)
sent_split_df.head()

,index,question,passage,seq,logit_score,infersent_score
0,1135787,distance between erie in buffalo new york,Erie Canal Distance Tables The Erie Canal is t...,0,,
1,1135787,distance between erie in buffalo new york,"Beginning at lock #E-2 in Waterford, NY, the E...",0,,
2,1135787,distance between erie in buffalo new york,What is the distance between Erie AND Buffalo?,1,,
3,1135787,distance between erie in buffalo new york,The distance between Erie and Buffalo in a str...,1,,
4,1135787,distance between erie in buffalo new york,Driving Directions & Drive Times from Erie to ...,1,,

Predict using BiDAF model and logit scoring

In [81]:
batch_size = 64
json_list = []
outputs = []
with torch.no_grad():                   # operations inside don't track history
  for idx, row in tqdm(sent_split_df.iterrows(), total = len(sent_split_df), position = 0):
    if idx%batch_size == 0 and idx != 0:
      outputs += mypredictor.predict_batch_json(json_list)
      json_list = []
    json_list.append({"passage":row[2],"question":row[1]})
  if json_list:
    outputs+= mypredictor.predict_batch_json(json_list)
    json_list = []

sent_split_df['logit_score'] = outputs

100%|██████████| 337330/337330 [1:09:02<00:00, 81.43it/s]

In [82]:
sent_split_df.head()

,index,question,passage,seq,logit_score,infersent_score
0,1135787,distance between erie in buffalo new york,Erie Canal Distance Tables The Erie Canal is t...,0,0.000640,0.648763
1,1135787,distance between erie in buffalo new york,"Beginning at lock #E-2 in Waterford, NY, the E...",0,0.001533,0.670305
2,1135787,distance between erie in buffalo new york,What is the distance between Erie AND Buffalo?,1,0.122577,0.679719
3,1135787,distance between erie in buffalo new york,The distance between Erie and Buffalo in a str...,1,0.111901,0.650793
4,1135787,distance between erie in buffalo new york,Driving Directions & Drive Times from Erie to ...,1,0.000833,0.619640

Predict using infersent

In [77]:
batch_size = 128
ques_list = []
pass_list  =[]
#outputs = []
with torch.no_grad():                   # operations inside don't track history
  for idx, row in tqdm(sent_split_df.iterrows(), total = len(sent_split_df), position = 0):
    if idx%batch_size == 0 and idx != 0:
      ques_embd = torch.Tensor(infersent.encode(ques_list, bsize = batch_size, verbose = False))
      pass_embd = torch.Tensor(infersent.encode(pass_list, bsize = batch_size, verbose = False))
      for item in cosine_similarity(ques_embd, pass_embd):
        outputs.append(float(item))
      ques_list = []
      pass_list = []
    ques_list.append(row[1])
    pass_list.append(row[2])
  if ques_list:
    ques_embd = torch.Tensor(infersent.encode(ques_list, verbose = False))
    pass_embd = torch.Tensor(infersent.encode(pass_list, verbose = False))
    for item in cosine_similarity(ques_embd, pass_embd):
      outputs.append(float(item))
    ques_list = []
    pass_list = []

  1%|          | 1793/337330 [00:04<17:44, 315.32it/s]

KeyboardInterrupt: ignored

In [0]:
sent_split_df['infersent_score'] = outputs

In [80]:
sent_split_df.head()

,index,question,passage,seq,logit_score,infersent_score
0,1135787,distance between erie in buffalo new york,Erie Canal Distance Tables The Erie Canal is t...,0,,0.648763
1,1135787,distance between erie in buffalo new york,"Beginning at lock #E-2 in Waterford, NY, the E...",0,,0.670305
2,1135787,distance between erie in buffalo new york,What is the distance between Erie AND Buffalo?,1,,0.679719
3,1135787,distance between erie in buffalo new york,The distance between Erie and Buffalo in a str...,1,,0.650793
4,1135787,distance between erie in buffalo new york,Driving Directions & Drive Times from Erie to ...,1,,0.619640

Calculate Weighted score

In [83]:
score_list = []
prev_id, prev_seq, prev_val = -1,-100, -100
for idx, row in tqdm(sent_split_df.iterrows(), total = len(sent_split_df), position = 0):
  if row['index']!= prev_id:
    score_list.append(row['infersent_score'] * row['logit_score'])
    prev_id = row['index']
    prev_val = row['infersent_score'] * row['logit_score']
    prev_seq = row['seq']
  else:
    if row['seq'] != prev_seq:
      score_list.append(row['infersent_score'] * row['logit_score'])
      prev_id = row['index']
      prev_val = row['infersent_score'] * row['logit_score']
      prev_seq = row['seq']
    else:
      if row['infersent_score'] * row['logit_score'] > prev_val:
        score_list[len(score_list)-1] = row['infersent_score'] * row['logit_score']
        prev_val = row['infersent_score'] * row['logit_score']

100%|██████████| 337330/337330 [00:43<00:00, 7736.34it/s]

In [84]:
len(score_list)

104170

In [0]:
df3['pred'] = score_list

In [86]:
df3.head(30)

,index,question,passage,seq,logit_score,infersent_score,pred
0,1135787,distance between erie in buffalo new york,Erie Canal Distance Tables The Erie Canal is t...,0,,,0.001027
1,1135787,distance between erie in buffalo new york,What is the distance between Erie AND Buffalo?...,1,,,0.083318
2,1135787,distance between erie in buffalo new york,The distance between Erie and Buffalo in a str...,2,,,0.072824
3,1135787,distance between erie in buffalo new york,Erie Canal Distances. Erie Canal Distance Tabl...,3,,,0.362379
4,1135787,distance between erie in buffalo new york,Erie's Metropolitan Area consists of approxima...,4,,,0.000308
5,1135787,distance between erie in buffalo new york,This will help you estimate how much time you ...,5,,,0.000439
6,1135787,distance between erie in buffalo new york,"As a general guide, Albany to Oswego, NY will ...",6,,,0.035284
7,1135787,distance between erie in buffalo new york,"Erie, PA. {{::location.tagLine.value.text}}. C...",7,,,0.009691
8,1135787,distance between erie in buffalo new york,"You start your flight Distance from Buffalo, N...",8,,,0.007109
9,1135787,distance between erie in buffalo new york,What is the distance between Erie AND Buffalo?...,9,,,0.083318
10,281922,how many days would it take to get to pluto,The asteroid belt is nothing but tourist traps...,0,,,18.794831
11,281922,how many days would it take to get to pluto,(Except we'll never get them back to plug into...,1,,,8.709366
12,281922,how many days would it take to get to pluto,"At the Shuttle's maximum speed of about 30,000...",2,,,31.187432
13,281922,how many days would it take to get to pluto,That means we will spend the next 16 months tr...,3,,,3.496069
14,281922,how many days would it take to get to pluto,It takes about four hours and 25 minutes for a...,4,,,8.315979
15,281922,how many days would it take to get to pluto,On the Space Shuttle. The distance from Earth ...,5,,,0.956327
16,281922,how many days would it take to get to pluto,"This week, as a box of electronics called New ...",6,,,12.374957
17,281922,how many days would it take to get to pluto,So if you know the exact distance between Eart...,7,,,0.082228
18,281922,how many days would it take to get to pluto,It comes as close to the sun as 30 or so AU (i...,8,,,1.871588
19,281922,how many days would it take to get to pluto,"So, when New Horizons zooms past Pluto on July...",9,,,0.661533
20,120233,define dew point.,Dew Point Temperature (Td). Is the expected de...,0,,,0.605878
21,120233,define dew point.,While relative humidity is (as its name sugges...,1,,,0.083374
22,120233,define dew point.,dew point. English Collins Dictionary-English ...,2,,,0.015812
23,120233,define dew point.,The dewpoint temperature is the temperature at...,3,,,0.004148
24,120233,define dew point.,English Collins Dictionary-English synonyms & ...,4,,,0.200782
25,120233,define dew point.,The dew point is the temperature to which the ...,5,,,0.157613
26,120233,define dew point.,"If there is then further cooling of the air, s...",6,,,1.031519
27,120233,define dew point.,dew point. [dyo̅o̅]. the temperature at which ...,7,,,0.015812
28,120233,define dew point.,dew point the temperature at which moisture in...,8,,,1.441917
29,120233,define dew point.,The dew point is always lower than (or equal t...,9,,,0.418749

In [0]:
df3.to_csv("preds_with_split_sent.csv")

In [89]:
outfilename = 'answer.tsv'
with open(outfilename,"w",encoding="utf-8") as fw:
  import math
  linelist = []
  tempscores = []
  for idx, row in df3.iterrows():
      tempscores.append(row['pred'])
      if((idx +1)%10==0):
          tempscores = [str(s) for s in tempscores]
          scoreString = "\t".join(tempscores)
          qid = str(row[0])
          fw.write(qid+"\t"+scoreString+"\n")
          tempscores=[]
      if(idx%5000==0):
          print(idx)

0
5000
10000
15000
20000
25000
30000
35000
40000
45000
50000
55000
60000
65000
70000
75000
80000
85000
90000
95000
100000

In [90]:
df6 = pd.read_csv('answer.tsv', sep = '\t')
df6.head()

,1135787,0.0010273678276179967,0.08331778212991088,0.07282414112423997,0.3623791244220172,0.00030825521797157,0.00043873129620235684,0.035283814365746485,0.009690847503877366,0.007109105968778412,0.08331778212991088.1
0,281922,18.794831,8.709366,31.187432,3.496069,8.315979,0.956327,12.374957,0.082228,1.871588,0.661533
1,120233,0.605878,0.083374,0.015812,0.004148,0.200782,0.157613,1.031519,0.015812,1.441917,0.418749
2,319757,0.322090,0.031840,0.004505,0.007117,0.340457,0.031162,0.026559,1.166321,3.076898,0.010537
3,193633,0.020470,0.000390,0.009858,0.016671,0.010109,0.034090,0.004788,0.000622,0.010384,0.000402
4,50229,0.233456,0.003808,0.009540,0.093404,0.037953,0.003197,0.271308,0.028961,0.002180,0.002598